<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Car rental</a>
    <button class="navbar-" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <div ngbCollapse [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul ngbNav #nav="ngbNav" class="navbar-nav">
            <li ngbNavItem>
                <a ngbNavLink [routerLink]="['/availablecars']">Availble cars</a>
            </li>

            <li ngbNavItem *ngIf="isLoggedIn">
                <a ngbNavLink [routerLink]="['/myreservations']">My reservations</a>
            </li>
            <li ngbNavItem *ngIf="isLoggedIn">
                <a ngbNavLink [routerLink]="['/login']">Login</a>
            </li>

            <li ngbNavItem *ngIf="isLoggedIn">
                <a ngbNavLink (click)="onLogoutClicked()">Logout</a>
            </li>

        </ul>
    </div>
</nav>