

<table class= "table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Zamówienie</th>
      <th scope="col">Data zamównienia </th>
      <th scope="col">Czas realizacji</th>
      <th scope="col">Czas realizacji</th>
      <th scope="col">Czas realizacji</th>
    </tr>
    </thead>
    <tbody>
        <tr >
            <td>1</td>
            <td>Ford Galaxy</td>
            <td>Apr 12, 2020</td>
            <td>Apr 16, 2020</td>
          </tr>
         <tr>
          <td>2</td>
            <td>Ford Galaxy</td>
            <td>May 1, 2020</td>
            <td>May 3, 2020</td>
         </tr>
    </tbody>
  </table>
